/* grid c5 */
.grid-c5 .grid-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.grid-c5 .grid-item:last-child {
  margin-bottom: 0;
}
.grid-c5 .grid-item-l {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.grid-c5 .grid-item-l .icon {
  background-color: rgb(254, 30, 0, 0.15);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-c5 .grid-item-l .icon img {
  width: 16px;
}
.grid-c5 .grid-item-l .text {
  color: var(--clr-silver-v1);
}
.grid-c5 .grid-item-l .text span {
  color: #8a8587;
  font-size: 15px;
}
.grid-c5 .grid-item-r span {
  font-weight: 600;
}

.grid-c-title-text{
  font-weight: 600;
}

.total-amount{
  margin-top: 10px;
}
.text-decor{
  text-decoration: overline;
  font-weight: 600;
}
.text-bold{
  font-weight: 600;
  font-size: 1rem;
}

/* Styles for pagination arrows */
.pagination-arrows {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.arrow {
  
  border: none;
  color: white;
  padding: 4px 6px;
  margin: 0 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
}

.arrow:disabled {
  cursor: not-allowed;
}

.left-arrow {
  transform: translateY(-1px); /* Optional alignment tweak */
}

.right-arrow {
  transform: translateY(-1px); /* Optional alignment tweak */
}

.arrow:hover:not(:disabled) {
  background-color: #717171;
}

.grid-c5-content {
  height: 200px; /* or any other suitable height */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

/* Subscriptions.css */

.chart-selection-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
}

.chart-button {
  padding: 6px 12px;
  font-size: 1rem;
  color: white;
  background-color: rgb(31, 31, 31);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.chart-button:hover {
  background-color: #fe6e00c4;
}

.chart-button:disabled {
  background-color: #fe6e0052;
  cursor: not-allowed;
}

.chart-button:active {
  transform: scale(0.98);
}
